<script>
  var geocoder;
  
  var map;

  geocoder = new google.maps.Geocoder();
  
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(39.7069310, -104.9564080);
    var mapOptions = {
      zoom: 9,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
  }

  function codeAddress(address, content) {
    console.log(content + " map results");
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            clickable: true,
            optimized: true,
            title: content
        });
        } else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) { 
        wait = true;
        setTimeout("wait = true", 2000);
        //alert("OQL: " + status);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
    </script>
  </body>
</html>

 