<script>
      function initMap() {
        var uluru = {lat: 39.7069310, lng: -104.9564080};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7CZMeH5ZlzmQLq_RlpWItqmXi44nM5Jg&callback=initMap">
    </script>
  </body>
</html>