<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Petfinder Api</title>
      <!-- STYLESHEETS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="./styles/styles.css">
      <!-- VENDOR SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7CZMeH5ZlzmQLq_RlpWItqmXi44nM5Jg">
    </script>
      <!-- APPLICATION SCRIPTS -->
      <script src="./scripts/app.js"></script>
      <script src="./scripts/map.js"></script>
   </head>
   <body>
      <div class="jumbotron">
         <div class="container">
            <h1>Welcome to Colo-Doggo!</h1>
            <h2>Your First Step Towards Your Next Dog</h2>
            <% if (currentUser) {%>
            <li><a class="btn btn-primary" href="/logout role="button">Logout <%= currentUser.local.email %></a></li>
            <li><a class="btn btn-primary btn-success" role="button" id="loved-dogs">Your Loved Dogs</a></li>
            <li><a class="btn btn-primary btn-warning" role="button" id="all-dogs">View All Dogs</a></li>
            <% } else { %>
            <li><a class="btn btn-primary" href="/login" role="button">Login</a></li>
            <li><a class="btn btn-primary" href="/signup" role="button">Signup</a></li>
            <% } %>
            </ul>
         </div>
      </div>
       <% if (currentUser) {%>
      <section class="container">
         <div class="row">
            <div class="col-lg-8">
               <h3>Doggos Near You</h3>
               <div class="row">
                  <div class="col-lg-4 col-xs-4">
                     <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Enter a city in Colorado">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="button-search">Go!</button>
                        </span>
                     </div>
                  </div>
                  <select class="selectpicker dropup col-lg-2 col-xs-2" id="selector">
                     <optgroup label="Size">
                        <option class="option">S</option>
                        <option class="option">M</option>
                        <option class="option">L</option>
                        <option class="option">XL</option>
                     </optgroup>
                     <optgroup label="Age">
                        <option class="option">Baby</option>
                        <option class="option">Young</option>
                        <option class="option">Adult</option>
                     </optgroup>
                  </select>
               </div>
            </div>
         </div>
         </div>
         </div>
<!--          <div class="container"> -->
            <div id='dogStuff' class ="col-lg-8" attr="dog._id">
            </div>
            <div id="map" class ="col-lg-2" data-spy="affix" data-offset-top="10"></div>
            <% } else { %>
            <% } %>
<!--          </div> -->
      </section>