<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petfinder Api</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Colo-Doggo!</h1>
        <p>Your First Step Towards Your Next Dog</p>
      </div>
    </div>
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Doggos Near You</h2>
        </div>
      </div>
      <div id='dogStuff' class ="row album" attr="dog._id">
      </div>
    </section>
  </body>
</html>
