<% include ./partials/header.ejs %>
<h2>Login</h2>
<form method="post" action="/login">
  <div class="form-group col-xs-6 col-xs-offset-3">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">

    <label for="email">Password</label>
    <input class="form-control col-xs-6" type="password" name="password" id="password">
    <input class="btn btn-defaultc col-xs-3" type="submit">
  </div>

</form>
<% include ./partials/footer.ejs %>
