li {
	list-style: none;
}

.jumbotron{
	background: url(./images/header.jpg) no-repeat;
}


#map {
	height: 200px;
	width: 200px;
}

.sticky {
     position: fixed;
     top: 0;
  }

.selectpicker {
	height: 34px;
	width: 100px;
}

