li {
	list-style: none;
}

.jumbotron{
	background: url(./images/header.jpg) no-repeat;
}


#map  {
    width: 350px;
    height: 400px;
    position: fixed;
    display: block;
    z-index: 10;
}

.sticky {
     position: fixed;
     top: 0;
  }

.selectpicker {
	height: 34px;
	width: 100px;
}

.jumbotron h1, h2 {
	color: white;
}

li {
	display: inline;
}

h2.no-login {
	margin-left: 150px;
	color: black;
}

.affix {
    top: 100px;
    position: fixed;
}

body {
    height:2000px;
    overflow: scroll;
}